/****** REUSED CLASSES *******/
a:hover, a:visited, a:active, a:link {
  text-decoration: none;
  color: black;
}

.margin__auto {
  margin: auto;
}

.bold {
  font-weight: bold;
}

.text__center {
  text-align: center;
}

.padding__top {
  padding-top: 5px;
}

.text__sizing {
  font-size: 18px;
}

.title__sizing {
  font-size: 28px;
}
.title__font {
  font-family: Shrikhand;
}

/****** SMALLER PHONE ******/
@media screen and (max-width: 374px) {
  .text__sizing {
    font-size: 15px;
  }
  .title__sizing {
    font-size: 20px;
  }
}
/****** TABLET/DESKTOP ******/
@media screen and (min-width: 768px) {
  .text__sizing {
    font-size: 25px;
  }
  .title__sizing {
    font-size: 35px;
  }
}
.lds-hourglass {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-hourglass:after {
  content: " ";
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: 8px;
  box-sizing: border-box;
  border: 32px solid #9356DC;
  border-color: #9356DC transparent #FF79DA transparent;
  animation: lds-hourglass 1.2s infinite;
}

@keyframes lds-hourglass {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(1800deg);
  }
}
.home-page__overlay {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 1000;
  background-color: black !important;
  opacity: 0.8;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: display-loader 1s forwards;
  animation-delay: 2s;
}

@keyframes display-loader {
  0% {
    opacity: 0.8;
  }
  70% {
    opacity: 0.1;
  }
  100% {
    opacity: 0.1;
    transform: scale(0);
  }
}
/****** HOMEPAGE ******/
body {
  margin: 0px;
  font-family: Roboto;
}

.home {
  /****** MOBILE ******/
  /****** NAV *******/
  /****** FONCTIONNEMENT ******/
  /****** RESTAURANTS ******/
}
.home-nav {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}
.home-nav__logo {
  padding: 10px 0 15px 0;
}
.home-nav__logo__size {
  width: 170px;
  height: 30px;
}
.home-nav__location {
  display: flex;
  justify-content: center;
  padding: 15px;
  background-color: #EAEAEA;
  box-shadow: 0 -2px 0 0 #CECECE;
}
.home-nav__location__icon {
  padding-right: 20px;
}
.home-nav__explorer {
  padding: 30px;
  display: flex;
  flex-direction: column;
  margin: auto;
  background-color: #F6F6F6;
}
.home-nav__explorer__text__padding {
  padding: 10px 20px 15px 20px;
}
.home-nav__explorer__button {
  margin: 20px auto 20px auto;
}
.home-nav__explorer__button__visual {
  width: 220px;
  height: 48px;
  border-radius: 40px;
  border: none;
  background: linear-gradient(to bottom right, #FF79DA 15%, #9356DC);
  color: white;
  box-shadow: 0 0 1em gray;
}
.home-nav__explorer__button__visual:hover {
  cursor: pointer;
  background: linear-gradient(to bottom right, #FF79DA 35%, #9356DC);
  box-shadow: 0 0 2em gray;
}
.home-fonctionnement {
  margin: 30px 20px 30px 20px;
}
.home-fonctionnement__card {
  margin: 25px auto 25px auto;
  width: 75%;
  padding: 20px;
  border-radius: 18px;
  box-shadow: 0 0 1em lightgray;
  background-color: #F6F6F6;
}
.home-fonctionnement__card__circle__background {
  padding: 2px 7px 2px 7px;
  border-radius: 50%;
  background-color: #9356DC;
  color: white;
  margin-left: -32px;
}
.home-fonctionnement__card__icon {
  margin: 0 15px 0 15px;
  color: gray;
}
.home-fonctionnement__card:hover {
  cursor: pointer;
  background-color: #F5EDFF;
}
.home-restaurant {
  background-color: #F6F6F6;
  padding: 20px;
}
.home-restaurant__card {
  width: 300px;
  height: 220px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 0 1em lightgray;
  margin: 0 auto 0 auto;
}
.home-restaurant__card__pic__sizing {
  object-fit: cover;
  width: 300px;
  height: 150px;
  border-radius: 20px 20px 0 0;
}
.home-restaurant__card__pic__sizing:hover {
  cursor: pointer;
}
.home-restaurant__card__description {
  display: flex;
  margin: 10px;
  margin-right: 20px;
  justify-content: space-between;
}
.home-restaurant__card__description__text {
  display: flex;
  flex-direction: column;
}
.home-restaurant__card__heart {
  display: flex;
}
.home-restaurant__card__heart__favorite {
  color: #F6F6F6;
}
.home-restaurant__card__heart__favorite:hover {
  cursor: pointer;
  transition: ease-in-out 0.75s;
  color: #FF79DA;
}
.home-restaurant__card__heart__favorite__not {
  background-color: white;
}
.home-restaurant__card__heart:hover .home-restaurant__card__heart__favorite__not {
  display: none;
}

/****** SMALLER PHONE ******/
@media screen and (max-width: 374px) {
  .home {
    /****** FONCTIONNEMENT ******/
    /****** RESTAURANTS ******/
  }
  .home-fonctionnement__card {
    width: 82%;
    box-shadow: 0 0 2em lightgray;
  }
  .home-fonctionnement__card__icon {
    margin: 0 10px 0 10px;
  }
  .home-restaurant {
    background-color: #F6F6F6;
    padding: 15px;
  }
  .home-restaurant__card {
    width: 250px;
    height: 180px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 0 1em lightgray;
    margin: 20px auto 20px auto;
  }
  .home-restaurant__card__pic__sizing {
    object-fit: cover;
    width: 250px;
    height: 120px;
    border-radius: 20px 20px 0 0;
  }
  .home-restaurant__card__new {
    top: 55px;
  }
  .home-restaurant__card__description {
    display: flex;
    margin: 7px;
    margin-right: 10px;
    justify-content: space-between;
  }
  .home-restaurant__card__description__text {
    display: flex;
    flex-direction: column;
  }
}
/****** TABLET ******/
@media screen and (min-width: 768px) {
  .home {
    /****** NAV ******/
    /****** FONCTIONNEMENT ******/
    /****** RESTAURANTS ******/
  }
  .home-nav {
    margin-top: 40px;
  }
  .home-nav__logo {
    margin-bottom: 30px;
  }
  .home-nav__logo__size {
    width: 350px;
    height: 50px;
  }
  .home-nav__location {
    padding: 40px;
    box-shadow: 0 -4px 0 0 #CECECE;
  }
  .home-nav__location__icon {
    font-size: 20px;
    margin-top: 3px;
  }
  .home-nav__explorer__text__padding {
    padding: 10px 20px 15px 20px;
  }
  .home-nav__explorer__button {
    margin: 30px auto 20px auto;
  }
  .home-nav__explorer__button__visual {
    width: 350px;
    height: 80px;
    border-radius: 80px;
    font-size: 25px;
  }
  .home-fonctionnement {
    margin: 30px 40px 30px 40px;
  }
  .home-fonctionnement__card {
    width: 60%;
    box-shadow: 0 0 2em lightgray;
  }
  .home-fonctionnement__card__circle__background {
    padding: 4px 9px 4px 9px;
  }
  .home-restaurant {
    padding: 30px 40px 30px 40px;
  }
  .home-restaurant__card {
    width: 450px;
    height: 330px;
    border-radius: 40px;
    box-shadow: 0 0 2em lightgray;
    margin: 30px auto 30px auto;
  }
  .home-restaurant__card__pic__sizing {
    width: 450px;
    height: 240px;
    border-radius: 40px 40px 0 0;
  }
  .home-restaurant__card__description {
    margin: 10px 30px 10px 30px;
  }
  .home-restaurant__card__heart {
    font-size: 25px;
    margin-top: 5px;
  }
  .home-restaurant__card__new {
    top: 85px;
    font-size: 20px;
  }
}
/****** DESKTOP ******/
@media screen and (min-width: 998px) {
  .home {
    margin: auto;
    max-width: 1920px;
    /****** FONC ******/
    /****** RESTAURANTS ******/
  }
  .home-fonctionnement {
    margin: 80px;
  }
  .home-fonctionnement__card {
    width: fit-content;
    margin: 25px 0 25px 0;
    padding: 25px;
  }
  .home-fonctionnement__card__desktop__margin__1 {
    margin-left: 5%;
  }
  .home-fonctionnement__card__desktop__margin__2 {
    margin-left: 30%;
  }
  .home-fonctionnement__card__desktop__margin__3 {
    margin-left: 55%;
  }
  .home-fonctionnement__card__circle__background {
    margin-left: -35px;
  }
  .home-restaurant {
    display: flex;
    flex-direction: column;
    padding: 80px;
  }
  .home-restaurant__card {
    width: 600px;
    height: 400px;
    border-radius: 40px;
    box-shadow: 0 0 2em lightgray;
    margin: 30px auto 30px auto;
  }
  .home-restaurant__card__container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  .home-restaurant__card__pic__sizing {
    width: 600px;
    height: 300px;
    border-radius: 40px 40px 0 0;
  }
  .home-restaurant__card__description {
    display: flex;
    margin: 10px 30px 10px 30px;
  }
  .home-restaurant__card__heart {
    font-size: 25px;
    margin-top: 5px;
  }
  .home-restaurant__card__new {
    left: 35%;
    top: 60px;
    height: 30px;
    font-size: 25px;
  }
}
.restaurant-nav {
  margin: 20px 0 20px 0;
}
.restaurant-nav__leave {
  font-size: 1.5em;
  color: black;
  margin-left: 20px;
}
.restaurant-nav__logo {
  width: 100%;
  display: flex;
  justify-content: center;
}
.restaurant-nav__logo__size {
  width: 170px;
  height: 30px;
  margin: auto auto auto 15%;
}
.restaurant-nav a {
  text-decoration: none;
}
.restaurant-image {
  height: 260px;
  width: 100%;
  object-fit: cover;
  margin-bottom: -50px;
}
.restaurant-menu {
  position: relative;
  background-color: #F6F6F6;
  padding: 10px;
  border-radius: 35px 35px 0 0;
}
.restaurant-menu__title {
  margin: 20px;
}
.restaurant-menu__title__aligning {
  display: flex;
  justify-content: space-between;
}
.restaurant-menu__title__heart__favorite {
  line-height: 1em;
  color: #F6F6F6;
}
.restaurant-menu__title__heart__favorite__not {
  background-color: #F6F6F6;
  line-height: 1em;
}
.restaurant-menu__title__heart:hover .restaurant-menu__title__heart__favorite__not {
  display: none;
}
.restaurant-menu__title__heart:hover .restaurant-menu__title__heart__favorite {
  cursor: pointer;
  transition: ease-in-out 0.75s;
  color: #FF79DA;
}
.restaurant-menu__card {
  display: flex;
  margin: 15px auto 15px auto;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 0 2em #CECECE;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  animation: fadein 1500ms;
}
@keyframes fadein {
  from {
    opacity: 0;
    margin-top: 35px;
  }
  to {
    opacity: 1;
    margin-top: 15px;
  }
}
.restaurant-menu__card:hover {
  cursor: pointer;
  background-color: #F5EDFF;
}
.restaurant-menu__card span {
  margin: 5px 5px 0 5px;
}
.restaurant-menu__card__desc {
  display: flex;
  justify-content: space-between;
  width: 118%;
}
.restaurant-menu__card__overflow {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.restaurant-menu__card__content {
  display: flex;
  flex-direction: column;
  padding: 5px;
  width: 82%;
}
.restaurant-menu__card__check__color {
  color: white;
}
.restaurant-menu__card:hover .restaurant-menu__card__content {
  animation: slideout 2s;
}
@keyframes slideout {
  9% {
    width: 82%;
  }
  40% {
    width: 67%;
  }
  60% {
    width: 67%;
  }
  91% {
    width: 82%;
  }
}
.restaurant-menu__card:hover .restaurant-menu__card__check {
  background-color: #8FDEC9;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 15px 15px 0;
  scale: 0;
  animation: slidein 2s;
}
.restaurant-menu__card:hover .restaurant-menu__card__check__color {
  display: inline-block;
  rotate: 180deg;
  transition: 1s;
  transform: rotate(180deg);
}
@keyframes slidein {
  0% {
    scale: 0;
    width: 0px;
    margin-left: 17%;
  }
  10% {
    scale: 1;
    width: 0px;
  }
  40% {
    width: 17%;
  }
  60% {
    width: 17%;
  }
  90% {
    scale: 1;
    margin-left: 17%;
  }
  100% {
    scale: 0;
    width: 0px;
    margin-left: 0px;
  }
}
.restaurant-menu__part {
  display: flex;
  width: fit-content;
  margin: 0 20px 0 20px;
  padding-top: 10px;
  padding-bottom: 3px;
  border-bottom: 3px solid;
  border-image: linear-gradient(to right, #99E2D0 60%, transparent 40%) 100% 1;
}
.restaurant-menu__button {
  width: 100%;
}
.restaurant-menu__button__visual {
  display: flex;
  margin: 40px auto 40px auto;
  width: 200px;
  height: 48px;
  border-radius: 40px;
  border: none;
  background: linear-gradient(to bottom right, #FF79DA 15%, #9356DC);
  justify-content: center;
  color: white;
  box-shadow: 0 0 1em gray;
}
.restaurant-menu__button__visual:hover {
  cursor: pointer;
  background: linear-gradient(to bottom right, #FF79DA 35%, #9356DC);
  box-shadow: 0 0 2em gray;
}

/****** TABLET ******/
@media screen and (min-width: 768px) {
  .restaurant-nav__logo__size {
    margin: auto auto auto 35%;
  }
  .restaurant-menu__card__margin {
    width: 540px;
    margin: auto;
    font-size: 20px;
  }
  .restaurant-menu__card:hover .restaurant-menu__card__check {
    animation: slideintablet 2000ms;
  }
  @keyframes slideintablet {
    0% {
      scale: 0;
      width: 0px;
      margin-left: 17%;
    }
    10% {
      scale: 1;
      width: 0px;
    }
    40% {
      width: 17%;
    }
    60% {
      width: 17%;
    }
    90% {
      scale: 1;
      margin-left: 17%;
    }
    100% {
      scale: 0;
      width: 0px;
      margin-left: 0px;
    }
  }
  .restaurant-menu__title__aligning {
    width: 70%;
    margin: auto;
  }
  .restaurant-menu__button__visual {
    margin: 50px auto 50px auto;
    width: 300px;
    height: 72px;
    font-size: 20px;
  }
}
@media screen and (min-width: 998px) {
  body {
    max-width: 1920px;
    margin: auto;
  }
  .restaurant-nav__logo__size {
    margin: auto auto auto 45%;
  }
  .restaurant-menu__card__margin {
    width: 60%;
  }
  @keyframes slideoutdesktop {
    12% {
      width: 1100px;
    }
    40% {
      width: 1009px;
    }
    60% {
      width: 1009px;
    }
    88% {
      width: 1100px;
    }
  }
  @keyframes slideoutdesktop {
    12% {
      width: 1100px;
    }
    40% {
      width: 1009px;
    }
    60% {
      width: 1009px;
    }
    88% {
      width: 1100px;
    }
  }
  .restaurant-menu__card:hover .restaurant-menu__card__check {
    animation-name: slideindesktop 2000ms;
  }
  @keyframes slideindesktop {
    0% {
      scale: 0;
      width: 0px;
      margin-left: 17%;
    }
    10% {
      scale: 1;
      width: 0px;
    }
    40% {
      width: 17%;
    }
    60% {
      width: 17%;
    }
    90% {
      scale: 1;
      margin-left: 17%;
    }
    100% {
      scale: 0;
      width: 0px;
      margin-left: 0px;
    }
  }
  .restaurant-menu__title__aligning {
    width: 60%;
    margin: auto;
  }
}
/****** FOOTER ******/
.footer {
  background-color: #353535;
  padding-left: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
}
.footer span {
  margin-bottom: 5px;
  width: fit-content;
}
.footer span:hover {
  cursor: pointer;
  color: lightblue;
}
.footer-logo__sizing {
  margin: 20px 0 15px 0;
  width: 110px;
  height: 20px;
  -webkit-filter: invert(1);
  filter: invert(1);
}
.footer-text__style {
  color: white;
  font-size: 15px;
}
.footer-icon__style {
  margin-right: 10px;
}

@media screen and (min-width: 768px) {
  .footer {
    padding-left: 40px;
  }
  .footer span {
    margin-bottom: 7px;
  }
  .footer-logo__sizing {
    margin: 30px 0 20px 0;
    width: 180px;
    height: 40px;
  }
  .footer-text__style {
    font-size: 20px;
  }
  .footer-icon__style {
    padding-right: 15px;
  }
}

/*# sourceMappingURL=style.css.map */
