$primary-color:#9356DC;
$secondary-color:#FF79DA;
$tertiary-color:#99E2D0;

/****** BODY *******/

body{
    margin: 0px;
    font-family: Roboto;
}

/****** MODIFIER CLASSES *******/

.margin__auto{
    margin: auto;
}

.title{
    &__sizing{
        font-size: 25px;
    }
    &__font{
        font-family: Shrikhand;
    }
}

.bold{
    font-weight: bold;
}

.padding__top{
    padding-top: 5px;
}

.text{
    &__center{
        text-align: center;
    }
    &__sizing{
        font-size: 18px;
    }
}

/****** NAV *******/

.nav{

    display: flex;
    flex-direction: column;
    margin-top: 10px;

    &-logo{
        padding: 10px 0 15px 0;

        &__smaller{
            width: 170px;
            height: 30px;
        }
    }

    &-location{
        display: flex;
        justify-content: center;
        padding: 15px;
        background-color: #EAEAEA;
        box-shadow: 0 -2px 0 0 #CECECE;

        &__smaller{
            padding-right: 20px;
        }
    }

    &-explorer{
        padding: 30px;
        display: flex;
        flex-direction: column;
        margin: auto;
        background-color: #F6F6F6;

        &__text__padding{
            padding: 10px 20px 15px 20px;
        }

        &__button{
            margin: 20px auto 20px auto;

            &__visual{
                width: 220px;
                height: 48px;
                border-radius: 40px;
                border: none;
                background: linear-gradient(to bottom right,$secondary-color 15%, $primary-color);
                color: white;

                &:hover{
                    cursor: pointer;
                }
            }
        }
    }
}

/****** FONCTIONNEMENT ******/

.fonctionnement{
    margin: 30px 20px 30px 20px;

    &-card{
        margin: 25px auto 25px auto;
        width: 75%;
        padding: 20px;
        border-radius: 18px;
        box-shadow: 0 0 1em  lightgray;
        background-color: #F6F6F6;

        &__circle__background{
            padding: 2px 7px 2px 7px;
            border-radius: 50%;
            background-color: $primary-color;
            color: white;
            margin-left: -32px;
        }
        
        &__icon__margin{
            margin: 0 15px 0 15px;
            color: gray;
        }

        &:active{
            background-color: #F5EDFF;
        }

        &:hover{
            cursor: pointer;
        }
    }
}

/****** RESTAURANTS ******/

.restaurant{
    background-color: #F6F6F6;
    display: flex;
    flex-direction: column;
    padding: 20px 20px 20px 20px;

    &-card{
        width: 330px;
        height: 250px;
        background-color: white;
        border-radius: 20px;
        box-shadow: 0 0 1em  lightgray;
        margin: 20px auto 20px auto;

        &__pic__sizing{
            object-fit: cover;
            width: 330px;
            height: 180px;
            border-radius: 20px 20px 0 0;
            
            &:hover{
                cursor: pointer;
            }
        }

        &__description{
            display: flex;
            margin: 10px;
            margin-right: 20px;
            justify-content: space-between;

            &__text{
                display: flex;
                flex-direction: column;
            }
        }

        &__heart{
            display: flex;

            &__favorite{
                background: linear-gradient($secondary-color,$primary-color);
                background-clip: border-box;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;

                &:hover{
                    cursor: pointer;
                }

                &__not{
                    background-color: white;
                }
            }

            &:hover &__favorite__not{
                display: none;
            }
        }
    }
}

/****** FOOTER ******/

.footer{
    background-color: #353535;
    padding-left: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;

    span{
        padding-bottom: 5px;
        width: fit-content;

        &:hover{
            cursor: pointer;
            color: lightblue;
        }
    }

    &-logo__smaller{
        padding: 20px 0 15px 0;
        width: 110px;
        height: 20px;
        -webkit-filter: invert(1);
        filter: invert(1);
    }

    &-text__style{
        color: white;
        font-size: 15px;
    }
    
    &-icon__style{
        padding-right: 10px;
    }
}