/****** REUSED CLASSES *******/
a:hover,a:visited,a:active,a:link{
    text-decoration: none;
    color: black;
}

.margin__auto{
    margin: auto;
}

.bold{
    font-weight: bold;
}

.text__center{
    text-align: center;
}

.padding__top{
    padding-top: 5px;
}

.text__sizing{
        font-size: 18px;
}

.title{
    &__sizing{
        font-size: 28px;
    }
    &__font{
        font-family: Shrikhand;
    }
}

/****** SMALLER PHONE ******/

@media screen and (max-width:374px){
    .text__sizing{
        font-size: 15px;
    }

    .title__sizing{
        font-size: 20px;
    }
}

/****** TABLET/DESKTOP ******/

@media screen and (min-width:768px){
    .text__sizing{
        font-size: 25px;
    }

    .title__sizing{
        font-size: 35px;
    }

}

